body {
    background-color:#21805b;
}
hr {
    border: none;
    background-color: #ffffff; 
    height: 1px;
}
a:link {
    color: #ffffff;
    text-decoration: none;
}
a:link:hover {
    color: #ffffff;
    text-decoration: underline;
}
a:link:visited {
    color: #cccccc;
}
.block {
    font-size: 1.4em;
    text-align: center;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 15px;
    background-color: #25a170;
    border-style: solid;
    border-width: 40px;
    border-bottom-color: #147950;
    border-right-color: #18865a;
    border-top-color: #24bb7e;
    border-left-color: #429b77;
}